.splide__slide img{
    @include respond(tab-land) {
        display: none;
      }
      @include respond(tablet) {
        display: none;
      }
      @include respond(tab-port) {
        display: none;
      }
      @include respond(s-phone) {
        display: none;
      }
      @include respond(xs-phone) {
        width: 15rem;
      }
}