#splide{
  height: 70rem;
  padding: 3rem auto !important;
}
.splide__slide{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 2rem;
  height: 55rem;

  
}
.splide__slide img{
    width: 75rem;
    height: auto;
}